<link rel="stylesheet" href="http://agiletour.agilerennes.org/wp-content/themes/isis/style.css" type="text/css" />

		<div class=" large-12 ">
			<div class="title">
				<h2 class="blue">Appel à Propositions</h2>
			</div>	
		</div>

Vous pouvez ici déposer vos propositions de sessions pour l’Agile Tour Rennes édition 2015.<br>
La soumission d’une proposition est très simple : <br>
<ul>
  <li>Vous cliquez sur le lien « Déposer une session »sur le menu disponible en haut de cette page</li>
<li>Vous renseignez les quelques champs demandés, et le texte de votre proposition de session </li><br>
</ul>
A ce stade, la proposition n'a pas besoin d'être finalisée. Vous pourrez compléter les détails par la suite.<br>
Si vous le souhaitez, demandez à un orateur expérimenté ou un organisateur de vous aider à développer votre proposition.
<h3 class="blue">Amélioration continue des propositions</h3>
Afin d’améliorer vos propositions et de sélectionner de manière transparente les sessions, nous proposons que chacun d’entre vous donne du feedback sur les sessions proposées, via un Perfection Game.<br>
Dans l’autre sens, vous pourrez améliorer vos propositions en tenant compte des retours effectués par les autres personnes.<br>
Nous vous demandons de respecter cette règle : <i>lorsque vous proposez un sujet, contribuez à l’amélioration en donnant du feedback aux autres orateurs</i>.<br>
De cette manière nous arriverons à un ensemble de propositions de sessions de qualité.
<h3>C’est quoi le ‘Perfection Game’ ?</h3>
Le 'Perfection Game' est une manière de donner du feedback constructif lorsque vous voulez améliorer quelque chose. Ce protocole a été développé par Jim & Michele McCarthy dans le cadre de leurs Core Protocols. <br>
Le fonctionnement est celui-ci:
<ul>
<li>Quelqu'un présente son travail (par ex: sa proposition de session) et demande du feedback</li>
<li>Vous notez le travail sur une échelle de 1 à 10, en fonction de la valeur que vous pouvez apporter au travail. Plus le chiffre est petit, plus vous pensez pouvoir apporter de la valeur par vos idées d’amélioration. <br></li></ul>
Par exemple : 
<ul>
<li>Donner un 9 sur 10 si je vois de petites améliorations possibles, </li>
<li>Donner un 5 sur 10 si j'ai des suggestions qui rendraient la session deux fois plus utile et/ou intéressante, </li>
<li>Donner 1 sur 10 si je peux multiplier la valeur de la proposition par 10 avec mes suggestions d'amélioration.</li><br>
</ul>

<li>Expliquez ce que vous avez aimé: qu'est-ce qui justifie la note ? Qu'est-ce qui devrait être conservé ?</li>
<li>Expliquez ce que vous feriez pour rendre la proposition parfaite: quelles actions concrètes devraient être entreprises pour porter la note à 10 sur 10 ?</li>
</ul>
<h4>Vous donnez du feedback</h4>
Réfléchissez bien lorsque vous expliquez comment rendre le travail parfait. Il est parfois tentant de faire des remarques négatives mais essayez de les reconstruire de façon positive<br>
Expliquez votre raisonnement. Par exemple: "Je ferai xxx parce que cela permettrait de yyy"<br>
Ne lésinez pas sur la section "ce que j'ai aimé"; les bons cotés doivent être conservés et renforcés.<br>
Assurez-vous que votre note reflète bien la valeur que vous pensez apporter (pas votre intérêt personnel pour le sujet)<br>
    Suivez le sujet et mettez à jour votre feedback lorsque la proposition de session est corrigée. L'itération mène à la perfection :-)
<h4>Vous avez reçu un feedback</h4>
    Remerciez la personne qui a pris le temps de vous donner du feedback<br>
    Ne discutez pas le feedback donné mais posez des questions pour clarifier ce que l'on vous dit et bien comprendre comment améliorer votre présentation du sujet<br>
    Vous êtes responsable de la qualité de votre travail, c'est vous qui décidez si vous souhaitez tenir compte du feedback que vous recevez<br><br>

<h3>A vos plumes! </h3>
 
 
