Règles du jeu: 
<ul>
<li> un vote par session</li>
<li> 10 votes par personne au total</li>
<li> vous ne pouvez voter pour vos propres sessions</li>
<li> l'ordre des votes n'a pas d'importance</li>
<li> vos votes ne seront visibles que par les organisateurs</li>
</ul>

